Bin/graphviz/
Bin/proguard/
DosDev/Obj/*.OBJ
DosDev2/
DroNDK/
DroSDK/
Games/
gpcp-JVM/
JmeDev/
MsxDev/Lib/*.sym
Ofront/Arch/
Ofront/Bin/
Ofront/Bin64/
!Ofront/Code/*.ocf
Ofront/Docu/
Ofront/Examples/
Ofront/Lib/
Ofront/Linux_arm/
Ofront/Linux_x64/
Ofront/Linux_x86/
Ofront/Mod/
Ofront/Obj/
Ofront/Obj64/
Ofront/Rsrc/Text/
Ofront/Sym/*.sym
Ofront/Sym64/
Ofront/Work/
Ofront/.gitignore
Ofront/*.bat
Pdp11Dev/
Sdl/
ToDo/
WinDev/Bin/MinGW/
WinDev/Bin/MinGW64/
WinDev/Lib/Obj/*.o
WinDev/Lib/Obj64/*.o
WinDev/Obj/*.a
WinDev/Obj/*.c
WinDev/Obj/*.h
WinDev/Obj/*.o
WinDev/Obj64/*.a
WinDev/Obj64/*.c
WinDev/Obj64/*.h
WinDev/Obj64/*.o
WinDev/x64/*.exe
WinDev/*.exe
ZXDev/Bin/MakeZX/
ZXDev/Lib/Obj/*.sym
ZXDev/Lib/Obj/zcc_opt.def
ZXDev/Obj/*.c
ZXDev/Obj/*.sym
ZXDev/ToDo/
*.dll
*.exe
*.asm
*.bin
*.ihx
*.lk
*.lst
*.map
*.noi
*.rel
*.sbm
