Bin/proguard/
DosDev/Obj/*.OBJ
DosDev2/
DroNDK/
DroSDK/
Games/
gpcp-JVM/
JmeDev/
Ofront/Arch/
Ofront/.gitignore
Pdp11Dev/
Rose/
Samurai/
Sdl/
WinDev/Obj/*.o
ZXDev/Obj/*.sym
ZXDev/Lib/Obj/*.sym
ZXDev/Bin/MakeZX
*.dll
*.asm
*.bin
*.ihx
*.lk
*.lst
*.map
*.noi
*.rel
*.sbm
