Bin/proguard/
DosDev/Obj/*.OBJ
DosDev2/
DroNDK/
DroSDK/
Games/
gpcp-JVM/
JmeDev/
MsxDev/Lib/*.sym
Ofront/Arch/
Ofront/Bin/
Ofront/Bin64/
Ofront/Lib/
Ofront/Linux/
Ofront/Mod/
Ofront/Obj/
Ofront/Obj64/
Ofront/Rsrc/Text/
Ofront/Samples/
Ofront/Samples64/
Ofront/Sym/*.sym
Ofront/Sym64/
Ofront/Work/
Ofront/.gitignore
Pdp11Dev/
Sdl/
ToDo/
WinDev/Bin/MinGW/
WinDev/Bin/MinGW64/
WinDev/Obj/*.o
ZXDev/Bin/MakeZX/
ZXDev/Lib/Obj/*.sym
ZXDev/Obj/*.sym
ZXDev/ToDo/
*.dll
*.asm
*.bin
*.ihx
*.lk
*.lst
*.map
*.noi
*.rel
*.sbm
